<template name="fotos">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="imgMasText">
					<img src="rajoy.jpg" class="img-rounded img-responsive" id="rajoy"/>
					<!--<span class="text-content"><span>Vota por mí</span></span>-->
				</div>
			</div>
			<div class="col-sm-3">
				<div class="imgMasText">
					<img src="pedro.jpg" class="img-rounded img-responsive" id="pedro"/>
					<!--<span class="text-content"><span>Vota por mí</span></span>-->
				</div>
			</div>
			<div class="col-sm-3">
				<div class="imgMasText">
					<img src="pablo.jpg" class="img-rounded img-responsive" id="pablo"/>
					<!--<span class="text-content"><span>Vota por mí</span></span>-->
				</div>
			</div>
			<div class="col-sm-3">
				<div class="imgMasText">
					<img src="albert.jpg" class="img-rounded img-responsive" id="albert"/>
					<!--<span class="text-content"><span>Vota por mí</span></span>-->
				</div>
			</div>
		</div>
	</div>
</template>